<!-- product average rating  -->
<div class="ekomi_average_rating">

    <div class="ekomi_prc_widget mini_stars_counter">
        <div class="ekomi_stars_wrap">
            <div class="ekomi_stars_gold" style="width:{{3.7 * 20}}%"></div>
        </div>
        <meta content="{$articleName}" itemprop="name">
        <div class="ekomi_total_reviews_wrap">
            <span class="total_reviews">({{11}})</span>
        </div>
    </div>

</div>

{% block AdditionalScripts %}
	<link rel="stylesheet" type="text/css" href="{{ plugin_path('EkomiFeedback') }}/css/ekomifeedback.css">
	<script src="{{ plugin_path('EkomiFeedback') }}/js/jquery-3.1.1.min.js"></script>
        <script src="{{ plugin_path('EkomiFeedback') }}/js/ekomiFeedback.js"></script>
{% endblock %}        
