<h1>Hello ---  === 
    --
    $ID
    ---
    {% htmlentities($Name[1]) %}
    Mini Stars Widget!
    {% $_ratingResult = $Rating / $RatingMax * 100 %}
    --
    {% $ID %}
    {{ $ID }}
    {% $ID %}
</h1>
