<!-- product average rating  -->
<div class="ekomi_average_rating">

    <div class="ekomi_prc_widget mini_stars_counter">
        <div class="ekomi_stars_wrap">
            <div class="ekomi_stars_gold" style="width:{{avg * 20}}%"></div>
        </div>
        <meta content="{{itemName}}" itemprop="name">
        <div class="ekomi_total_reviews_wrap">
            <a id="ekomi_prc_reviews" href="javascript:void(0">
                <span class="total_reviews">({{count}})</span>
            </a>
        </div>
    </div>

</div>

{% block AdditionalScripts %}
    <link rel="stylesheet" type="text/css" href="{{ plugin_path('EkomiFeedback') }}/css/ekomiFeedback.css">
{% endblock %}        
